<p style="color: green"><%= notice %></p>

<h1>Reviews</h1>

<div id="reviews">
  <% @reviews.each do |review| %>
    <%= render review %>
    <p>
      <%= link_to "Show Movie", [@movies] %>
      <td><% link_to "New review", new_movie_review_path(@movie, review) %></td>
      <td><%= link_to 'Edit Review', edit_movie_review_path(@movie, review) %></td>
      <td><%= link_to 'Destroy Review', [@movie, review], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </p>
  <% end %>
</div>

#<% link_to "New review", new_movie_review_path(movie_id: @movie.id) %>
