<p style="color: green"><%= notice %></p>

<%= render @review %>

<div>
  <%= link_to "Edit this review", edit_movie_review_path(@movie, @review) %> |
  <%= link_to "Back to reviews", movie_reviews_path(@movie) %>

  <%= button_to "Destroy this review", @review, method: :delete %>
</div>
